<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="valigator.js"></script>

<h1>Valigator Tests</h1>
<h3>Max Length - Pass</h3>
<input name="max-length-pass"value="Max Length Pass Test" readonly>

<script>
var v = new Valigator();
v.addCondition('max-length-pass', 'maxLength', 50);
var r = v.validate();
v.setError('max-length-pass', function(){
	$('input[name="max-length-pass"]').css('background-color','#E41B17');
});
console.log(r);
</script>

<h3>Max Length - Fail</h3>
<input name="max-length-fail" value="Max Length Fail Test" readonly>

<script>
var v = new Valigator();
v.addCondition('max-length-fail', 'maxLength', 5);
v.setError('max-length-fail', function(){
	$('input[name="max-length-fail"]').css('background-color','#E41B17');
});
var r = v.validate();
console.log(v)
console.log(r);
</script>

<h3>Min Length - Pass</h3>
<input name="min-length-pass"value="Min Length Pass Test" readonly>

<script>
var v = new Valigator();
v.addCondition('min-length-pass', 'minLength', 5);
v.setError('min-length-pass', function(){
	$('input[name="min-length-pass"]').css('background-color','#E41B17');
});
var r = v.validate();
console.log(r);
</script>

<h3>Max Length - Fail</h3>
<input name="min-length-fail"value="Min Length Fail Test" readonly>

<script>
var v = new Valigator();
v.addCondition('min-length-fail', 'minLength', 50);
v.setError('min-length-fail', function(){
	$('input[name="min-length-fail"]').css('background-color','#E41B17');
});
var r = v.validate();
console.log(r);
</script>

<h3>Email - Pass</h3>
<input name="email-pass" value="email.pass@test.com" readonly>

<script>
var v = new Valigator();
v.addCondition('email-pass', 'email','');
var r = v.validate();
console.log(r);
</script>

<h3>Email - Fail</h3>
<input name="email-fail" value="Email Fail" readonly>

<script>
var v = new Valigator();
v.addCondition('email-fail', 'email','');
var r = v.validate();
console.log(r);
</script>

<h3>Invalid regex test</h3>
<input name="invalid-regex" value="Invalid" readonly>

<script>
var v = new Valigator();
v.addCondition('invalid-regex', 'regex', ')(U#U(*#*(PF');
var r = v.validate();
console.log(r);
</script>

<h3>Regex - Pass</h3>
<input name="regex-pass" value="Regex Pass" readonly>

<script>
var v = new Valigator();
v.addCondition('regex-pass', 'regex', /^R/);
var r = v.validate();
console.log(r);
</script>

<h3>Regex - Fail</h3>
<input name="regex-fail" value="Regex Fail" readonly>

<script>
var v = new Valigator();
v.addCondition('regex-fail', 'regex', /^S/);
var r = v.validate();
console.log(r);
</script>
